#app{
  margin:0 ;
  padding: 0;
  height: 100vh;
  background-image: url("https://wallpapers.com/images/hd/dream-cloud-and-boat-art-6wvx83rdj744ls4c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
